<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81129286779-8r18jqnss2a8vf4ivn2brk44n6d3ffml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81129286779-8r18jqnss2a8vf4ivn2brk44n6d3ffml</string>
	<key>API_KEY</key>
	<string>AIzaSyAc-ATJ0FFbA_mgAznxNbXNgkNBG3vNy7g</string>
	<key>GCM_SENDER_ID</key>
	<string>81129286779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fishingcrunch.app</string>
	<key>PROJECT_ID</key>
	<string>fishing-crunch</string>
	<key>STORAGE_BUCKET</key>
	<string>fishing-crunch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81129286779:ios:95d85b83231ff8a347c6de</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6917765266039201~8447184662</string>
</dict>
</plist>